addon/doc/*.css
addon/doc/en/
*_docHandler.py
*.html
manifest.ini
*.mo
*.pot
*.py[co]
*.nvda-addon
.sconsign.dblite
/[0-9]*.[0-9]*.[0-9]*.json
addon/globalPlugins/charInfo/UnicodeDataPKG/
addon/globalPlugins/charInfo/locale/fr/Blocks.txt
